export("anytime",
       "anydate",
       "getFormats",
       "addFormats",
       "utctime",
       "utcdate",
       "iso8601",
       "rfc2822",
       "rfc3339")
importFrom(Rcpp, evalCpp)
useDynLib(anytime, .registration=TRUE)
